/* --------------------- GLOBAL -------------------------- */
body {
    background-color: lightgrey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.virsraksts {
    font-size: 22px;
    color: rgb(248, 248, 248);
    display: flex;
    justify-content: space-around;

}

.poga {
    width: 300px;
    font-size: 18px;
    color: dimgray;
    padding: 5px 30px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: rgb(117, 70, 53) 2px 2px 5px 0.1px; 
}
/* -------------------- CIK TEV GADI DIENĀS ---------------------- */
.fons {
    background-color: coral;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: rgb(104, 104, 104) 2px 2px 5px 0.1px;
}


.pogu_flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.input_apreekins {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#input_collas {
    
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
    border-width: 3px;
    border-color: lightgrey;
    color: dimgray;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* --------------- Attēlu ģenerātors ------------------- */

.ģeneratora_saakums{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.attelu_ramis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.attelu_ramis img {
    height: 100px;
    margin: 5px 10px 20px 10px;
    border-radius: 10px;
    border: solid 3px  rgb(104, 104, 104);
}

/* ----------------------- Akmens, šķēres, papīrīts ------------------ */

.speles_ramis {
    display: flex;
    flex-direction: row;
}

.mana_izvele {
    margin: 10px;
    border: solid 3px rgb(248, 248, 248);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.mana_izvele img {
    height: 200px;
    margin: 20px;
    border-radius: 30px;
}
.mana_izvele img:hover {
    box-shadow: rgb(117, 70, 53) 2px 2px 5px 0.1px; 
}

.datora_izvele {
    margin: 10px;
    border: solid 3px rgb(248, 248, 248);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}